{% block content %}
{% load static %}

<html>

<head>
    <title>
        Quizzery
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(250, 250, 249);
            background-image: url("{% static 'images\b.jpg' %}");
            min-height: 100%;
            max-width: 3000px;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: repeat-y;
            background-size: cover;
        }

        .box {
            width: 300px;
            margin: 10px auto;
        }

        .h1,
        h1 {
            font-size: 1.6rem !important;
        }
    </style>
</head>

<body>
    <div class="box " id="quizzery-icon"><img src="{% static 'images/x1.png'%}" id="quiz" alt="" /></div>
    <div class="container ">
        <h1>{% for a in quiz%} Welcome to {{a.quizname}} Quiz</h1> {% endfor %}
        (Attempt all questions)
        <div align="right" id="displaytimer"><b>Timer: 0 seconds</b></div>

        <form method='post' action='' name="test">
            {% csrf_token %}
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Enter your Name</label>
                <input type="text" id="form2Example1" class="form-control" name='user_name' value="Anonymous"
                    style="width:280px !important" />

            </div>
            {% for q in questions%}
            <div class="form-group">
                <label for="question" style="font-size: 20px !important;">Question {{q.question_no}}.
                    {{q.question}}</label>
            </div>
            <div class="form-check">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1">
                    <label class="form-check-label" for="gridRadios1">
                        {{q.option_1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.option_2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option3">
                    <label class="form-check-label" for="gridRadios1">
                        {{q.option_3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option4">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.option_4}}
                    </label>
                </div>
                <br>
            </div>
            {% endfor %}
            <input id='timer' type='hidden' name="timer" value="">
            {% for x in quiz%}
            <p id="timmee" style="visibility: hidden;">{{x.quiz_time}}</p>
            <p id="end_timmee" style="visibility: hidden;">{{x.end_time}}</p>{% endfor %}

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% block script %}
        <script>

            console.log('hello world')
            const timer = document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')

            t = 0
            setInterval(() => {
                t += 1
                timer.innerHTML = "<b>Timer: " + t + " seconds</b>"
                inputtag.value = t
            }, 1000)
        </script>
        <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            window.onload = function () {
                var tim = document.getElementById('timmee').innerHTML;
                var end_time = document.getElementById('end_time').innerHTML;
                var datee = document.getElementById('date').innerHTML;
                console.log(tim)
                var tim1 = parseInt(tim, 10)
                var tim2 = tim1 * 60000
                console.log(tim2)
                window.setTimeout(function () { document.test.submit(); }, tim2);
            };
        </script>
        {% endblock script %}

    </div>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>